<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  
<div class="title-container">
  <img src="../assets/MOBHlogo.png" alt="MOBH Logo" class="background-image">
</div>
<div class="container text-center">
  <p>Choose the problem type</p>
  <p><button class="btn btn-primary" (click)="navigateTo('home')">LLP ASTAR FOR SPP</button></p>
  <p><button class="btn btn-primary" (click)="navigateTo('home-pso')">PSO FOR TRSP</button></p>
  <p><button class="btn btn-primary" g (click)="navigateTo('home-ga')">GA FOR DARP</button></p>
</div>

<div class="help-button-container">
  <button class="help-button" (click)="openGuide()">Need help?</button>
</div>

<!-- Popup pour le composant Guide -->
<div class="popup-overlay" *ngIf="showGuidePopup" (click)="closeGuide()">
  <div class="popup" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closeGuide()">×</button>
    <app-guide></app-guide>
  </div>
</div>
</main>

