.custom-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.custom-div{
    width: 50%;
    text-align: center;
    padding: 10px;
}

.custom-div-frame{
    width: 50%;
    min-width: 300px;
    min-height: 300px;
    text-align: center;
    padding: 10px;
    border: solid 1px;
    border-radius: 10px;
}

.label {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bold-blue {
    font-weight: bold;
    color: blue;
 
}
 
.no-space {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
 
.no-space span {
    margin: 0;
}