input {
  max-width: 150px;
}

.label {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.error-message {
  color: red;
  text-align: left;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* preview.component.css */
.link {
  stroke: #aaa;
  stroke-width: 2px;
}

.node circle {
  fill: blue;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}
